@{
  Layout = "_Layout";
}

<h1>Add a vendor</h1>

<div id="vendInfo">
  <form action="/vendors" method="post">
    <br>
    <br>
    <label for="name">Vendor name</label>
    <input id="name" name="name" type="text" required>
    <br>
    <br>
    <label for="description">Description of vendor e.g. Cafe, Restaurant, etc.</label>
    <input id="description" name="description" type="text" required>
    <button type="submit">Add</button>
  </form>
</div>

<div id=homeAddVend>
  <p><a href="/">Back home</a></p>
  <p><a href="/vendors">Back to vendors.</a></p>
</div>