@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Welcome, Pierre, to Your Vendor & Order Tracker</h1>
    <div id="firstVendLinks">
      <br>
      <h2><a href='/vendors'>View Current List of Vendors</a></h2>
      <img src="~/img/annie-spratt-kr_88BakygA-unsplash.jpg">
      <br>
      <h2><a href='/vendors/new'>Add a New Vendor</a></h2>
      <img src="~/img/radu-marcusu-OtYj9i2ITXU-unsplash.jpg">
    </div>
</div>


